/* Remove hover/shadow for instructional text */
.settings-list-instruction {
  background: none;
  box-shadow: none;
  cursor: default;
}

.settings-list-instruction:hover {
  background: none;
  box-shadow: none;
}

.favourites-empty-message {
  color: #888;
  font-size: 17px;
  padding: 24px 18px 18px 18px;
  text-align: center;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}
.info-text {
  color: var(--text-secondary);
  margin-top: 10px;
  font-style: italic;
}
